In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

## Pandas Overview

- pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,built on top of the Python programming language.

- You can think of a pandas DataFrame like a table in SQL, Excel, or Google Sheets and a pandas Series like a single column from a table.

![dataframe diagram](https://www.w3resource.com/w3r_images/pandas-data-structure.svg)

[Image Source](https://www.w3resource.com/python-exercises/pandas/index.php)

## The Pandas Series Object

## <font color=red>What Is a Pandas Series?</font>

A pandas Series object is a one-dimensional, labeled array made up of an autogenerated index that starts at 0 and data of a single data type.


A couple of important things to note here:

- If I try to make a pandas Series using multiple data types like `int` and `string` values, the data will be converted to the same `object` data type; the `int` values will lose their `int` functionality. 


- A pandas Series can be created in several ways, some of which I'll demonstrate below, but **it will most often be created by slecting a single column from a pandas Dataframe in which case the Series retains the same index as the Dataframe.**

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

### Create a Pandas Series:

#### From a Python List

In [3]:
# Here I create a list of colors creatively named 'colors'.

colors = ['red', 'yellow', 'green', 'blue', 'orange', 'red', 'violet', 'indigo']
colors

['red', 'yellow', 'green', 'blue', 'orange', 'red', 'violet', 'indigo']

In [4]:
# Here I create the 'colors_series' Series using the Series() constructor method.

colors_series = pd.Series(colors)
colors_series

0       red
1    yellow
2     green
3      blue
4    orange
5       red
6    violet
7    indigo
dtype: object

In [5]:
# How can I confirm that 'colors_series' is now a pandas Series object?

type(colors_series)

pandas.core.series.Series

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### From a NumPy Array

In [6]:
# Create a numpy array 'arr'.

arr = np.array([5, 10, 15, 20, 25, 30, 35, 40, 40])

In [10]:
# Convert my numpy array to a pandas Series called 'numeric_series'.

numeric_series = pd.Series(arr)

In [8]:
# How can I confirm that 'numeric_series' is now a pandas Series object?

type(numeric_series)

pandas.core.series.Series

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### From a Python Dictionary. 

- Here the dictionary keys are used to construct the labeled index.

In [11]:
data = {'a':1, 'b': 1.5, 'c': 2.0, 'd': 3.5, 'e': 4, 'f': 5.5}

In [12]:
# Create a pandas Series 'diction_series' using the pandas Series() constructor method.

diction_series = pd.Series(data)

In [14]:
diction_series

a    1.0
b    1.5
c    2.0
d    3.5
e    4.0
f    5.5
dtype: float64

In [13]:
# Confirm the type of 'diction_series.'

type(diction_series)

pandas.core.series.Series

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### From a Pandas DataFrame

- When I select a column from a pandas DataFrame, this is also a Series object. It will retain the same index as the DataFrame.

*This is just a preview of acquiring data from a database as a DataFrame. For now, focus on the Series, not the code reading in the data. We will get plenty of practice using pandas functions to acquire data in the near future.*

In [15]:

df = pd.read_csv('https://raw.githubusercontent.com/ravinder79/data/main/insurance.csv')

In [16]:
# This is a pandas DataFrame from which I will select Series I want to use below.

df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

**For now, all you need to know is that a Series can be selected from a DataFrame in one of the following ways:**

- **By Passing a Column Name as a String to the Indexing Operator *aka Bracket Notation*.**

```python
df['series']
```

In [17]:
# Grab a Series using bracket notation. Assign it to a variable called 'ages'.

ages = df['age']
ages

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [18]:
# Validate the object type of 'ages'.

type(ages)

pandas.core.series.Series

- **Using Attribute Access *aka Dot Notation*.**

```python
df.series
```

In [19]:
# Grab a Series using dot notation. Assign it to a variable called 'regions'.

regions = df.region

In [20]:
# Validate the object type of 'regions'.

type(regions)

pandas.core.series.Series

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

## <font color=orange>So What's So Great About a Pandas Series?</font>

**A Series...**

- can handle any data type.


- allows for fast indexing and subsetting of data.


- has lots of built-in attributes and methods.


- is optimized for Pandas vectorized functions.

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

### Attributes

**Attributes** return useful information about the Series properties; they don't perform operations or calculations with the Series.

- Jupyter Notebook allows you to quickly access a list of available attributes by pressing the tab key after the series name followed by a period or dot; this is called dot notation or attribute access.

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

### Common Attributes

#### `.index`,  `.values`

**The Components of a Pandas Series - Index, Data**

- Now that I have some pandas Series to work with, I can look at the components of the Series object using the `.index` and the `.values` attributes.

In [71]:
# I can access its autogenerated index by using the .index attribute.

ages.index

RangeIndex(start=0, stop=1338, step=1)

In [23]:
# I can access its data by using the .values attribute.


colors_series.values

array(['red', 'yellow', 'green', 'blue', 'orange', 'red', 'violet',
       'indigo'], dtype=object)

In [24]:
# I can see that accessing the data in my Series using the .values attribute returns a numpy array.

type(colors_series.values)

numpy.ndarray

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.dtype`

- The `.dtype` attribute returns the pandas data type for the Series. 

**Below is a helpful overview of pandas data types and their relation to python and NumPy data types.**

![pandas data types](https://pbpython.com/images/pandas_dtypes.png)

In [25]:
# What is the data type of our 'colors_series' Series?

colors_series.dtype

dtype('O')

In [26]:
# What is the data type of our 'ages' Series?

ages.dtype

dtype('int64')

In [28]:
# What is the data type of our 'regions' Series?

regions.dtype

dtype('O')

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.size`

- The `.size` attribute returns an int representing the number of rows in the Series.

In [29]:
# What is the size of our 'colors_series' Series?

colors_series.size

8

In [30]:
# What is the size of our 'ages' Series?

ages.size

1338

In [31]:
# What is the size of our 'regions' Series?

regions.size

1338

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.shape`

- The `.shape` attribute returns a tuple representing the rows and columns in a DataFrame, but it can also be used on a Series to return the rows.

In [41]:
# What is the shape of our 'ages' Series?

ages.shape

(1338,)

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

### Methods

**Methods** used on pandas Series objects often return new Series objects; most also offer parameters with default settings designed to keep the user from mutating the original Series objects. (`inplace=False`)

- I can either assign the transformed Series to a variable or adjust my parameters. 

<div class="alert alert-block alert-warning">Be careful about mutating your original data, and always, always confirm that the data you are working with is the data, and data type, that you think you are working with!</div>

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

## <font color=green>Now What?</font>

#### `.head()`, `.tail()`,  `.sample()`

- The `.head(n)` method returns the first n rows in the Series; `n = 5` by default. This method returns a new Series with the same indexing as the original Series. 


- The `.tail(n)` method returns the last n rows in the Series; `n = 5` by default. Increase or decrease your value for n to return more or less than 5 rows.


- The `.sample(n)` method returns a random sample of rows in the Series; `n = 1` by default. Again, the index is retained.

In [45]:
# Grab the first five rows in our 'ages' Series; the default is the first 5 rows.

ages.head()

0    19
1    18
2    28
3    33
4    32
Name: age, dtype: int64

In [46]:
# Grab the last two rows of the 'ages' Series; we can pass 2 as our argument to n.

ages.tail(2)

1336    21
1337    61
Name: age, dtype: int64

In [47]:
# Grab a random sample of 10 rows from the 'ages' Series; the default argument is 1.

ages.sample(10)

449     35
65      19
1175    22
279     51
1011    43
121     18
116     58
455     59
804     23
451     30
Name: age, dtype: int64

In [49]:
# What type of object is returned by the `.head()`, `.tail()`, or `.sample()` methods?

type(ages.sample(10))

pandas.core.series.Series

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.astype()`

- The `.astype()` method allows me to convert a Series from one data type to another. 


- Like most methods, it returns a new transformed Series by default instead of mutating my original data.

In [51]:
# How can I change the data type of `ages` to an object?

ages.astype('O')

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: object

In [52]:
# Did this transform the data type of my 'age'?
ages

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.value_counts()`

- The `.value_counts()` method returns a new Series consisting of a labeled index representing the unique values from the original Series and values representing the frequency each unique value appears in the original Series. 


- This is an extremely useful method you will find yourself using often with Series containing object and category data types. 

Below you can see the default settings for the method's parameters.

```python
series.value_counts(
    normalize=False,
    sort=True,
    ascending=False,
    bins=None,
    dropna=True,
)
```

In [53]:
# How can I obtain the frequency of unique values in 'colors_series'?

colors_series.value_counts()

red       2
green     1
yellow    1
indigo    1
orange    1
violet    1
blue      1
dtype: int64

In [54]:
# How can I obtain the relative frequency of the unique values in 'colors_series'?

colors_series.value_counts(normalize=True)

red       0.250
green     0.125
yellow    0.125
indigo    0.125
orange    0.125
violet    0.125
blue      0.125
dtype: float64

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.sort_values()` and `.sort_index()`

- These are handy methods that allow you to either sort your values or index respectively in ascending or descending order.

In [56]:
# How can I obtain my 'colors_series' with the values in alphabetical order?

colors_series.sort_values()

3      blue
2     green
7    indigo
4    orange
0       red
5       red
6    violet
1    yellow
dtype: object

In [57]:
# How can I reverse the order?

colors_series.sort_values(ascending=False)

1    yellow
6    violet
5       red
0       red
4    orange
7    indigo
2     green
3      blue
dtype: object

In [59]:
# How can I obtain my 'numeric_series' ordered from least to greatest values?

ages.sort_values()

1248    18
482     18
492     18
525     18
529     18
        ..
398     64
335     64
378     64
1265    64
635     64
Name: age, Length: 1338, dtype: int64

In [63]:
# How can I reverse the order?

ages.sort_values(ascending=False)

635     64
1265    64
378     64
335     64
398     64
        ..
529     18
525     18
492     18
482     18
1248    18
Name: age, Length: 1338, dtype: int64

In [66]:
# How can I sort my labeled index in 'diction_series' to be in reverse alphabetical order?

diction_series.sort_index(ascending=False)

f    5.5
e    4.0
d    3.5
c    2.0
b    1.5
a    1.0
dtype: float64

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.describe()`

- The `.describe()` method can be used to return descriptive statistics on either a pandas Series or DataFrame object; the information it returns depends on whether it's used on a numerical or non-numerical Series. 


- *Note that when used on a DataFrame, `.describe()` analyzes only the numerical columns by default. The parameters can be adjusted to include other data types.*

```python
series_or_df.describe(percentiles=None, include=None, exclude=None)
```

In [68]:
# What does the .describe() method return if our Series values are strings? 

colors_series.describe()

count       8
unique      7
top       red
freq        2
dtype: object

In [70]:
# What does the .describe() method return if our Series values are numeric? 

ages.describe()

count    1338.000000
mean       39.207025
std        14.049960
min        18.000000
25%        27.000000
50%        39.000000
75%        51.000000
max        64.000000
Name: age, dtype: float64

# Exercise Part 1

https://ds.codeup.com/python/series/#exercises-part-i

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.any()` and `.all()`

- The `.any()` method performs a logical `OR` operation on a row or column and returns a bool value indicating whether **any of the elements are True**.

In [128]:
colors_series == 'red'

0     True
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [130]:
# Are any of the values in my 'colors_series' 'red'?

(colors_series == 'red').any()

True

In [133]:
# How can I check to see if any of the values in `ages` are less than 10?

(ages < 10).any()

False

- The `.all()` method performs a logical `AND` operation on a row or column and returns a bool value indicating whether **all of the elements are True**.

In [135]:
# Are all of the values in 'colors_series' 'red'?

(colors_series == 'red').all()

False

In [137]:
(ages > 10).all()

True

In [140]:
(ages < 10).sum()

0

In [143]:
# Are all of the values in the 'regions' Series 'southeast'?

(regions == 'southeast').all()

False

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### String Methods

- **String Methods** perform vectorized string operations on each string value in the original Series and return a transformed copy of the original Series. 


- We have to use the `.str` attribute to access the string method. 

```python
series.str.string_method()
```

- More string methods listed [here](https://docs.python.org/2.5/lib/string-methods.html).

In [145]:
# How can I capitalize every string in my 'colors_series'?

colors_series.str.capitalize()

0       Red
1    Yellow
2     Green
3      Blue
4    Orange
5       Red
6    Violet
7    Indigo
dtype: object

In [151]:
# How can I check to see if the string values in my 'colors_series' start with the letter 'r'?

colors_series.str.startswith('r')

0     True
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [147]:
colors_series[colors_series.str.startswith('r')]

0    red
5    red
dtype: object

In [152]:
# How could I remove all of the 'e's in my 'colors_series'?

colors_series.str.replace('e', '')

0        rd
1     yllow
2       grn
3       blu
4     orang
5        rd
6     violt
7    indigo
dtype: object

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

<a id='chaining'></a>

#### Method Chaining

- Since many pandas Series methods return a new Series object, I can call one method after another using dot notation to chain them together.
```python
series.method().method().method()
```

In [153]:
# Can I generate a boolean Series identifying values in 'colors_series' ending with the letter `d`.
colors_series.str.endswith('d')

0     True
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [154]:
# Can I return the actual values from 'colors_series' ending with the letter 'd'.

colors_series[colors_series.str.endswith('d')]

0    red
5    red
dtype: object

In [164]:
# Can I use method chaining to also make those values all uppercased?

colors_series[colors_series.str.endswith('d')].str.upper()

0    RED
5    RED
dtype: object

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.apply()`

- The `.apply()` method accepts a python or NumPy function as an argument and applies that function to each element in my Series. 


- *`.apply()` does not only accept a built-in function as an argument; you can pass custom and even lambda functions as arguments.*

>**Scenario:** What if I want to know the length of each element in my `colors_series` Series? What if I then want to see the frequency of the unique values in the Series returned?

In [165]:
# How can I use `.apply()` with a lambda function to count the letter 'r' in each value in my 'colors_series'?

colors_series.apply(lambda row: row.count('r'))

0    1
1    0
2    1
3    0
4    1
5    1
6    0
7    0
dtype: int64

In [166]:
# Can you do the same thing as above with string method?

colors_series.str.count('r')

0    1
1    0
2    1
3    0
4    1
5    1
6    0
7    0
dtype: int64

In [167]:
# Create custom function I can apply to each element in my 'colors_series'; it must take in a string argument.

def is_red(string):
    if string == 'red':
        return 'red'
    else:
        return 'not red'

In [168]:
# How can I use the `.apply()` method with my custom function to return a new Series?

colors_series.apply(is_red)

0        red
1    not red
2    not red
3    not red
4    not red
5        red
6    not red
7    not red
dtype: object

In [169]:
# How can I use method chaining to get a count of each unique value in this new Series?

colors_series.apply(is_red).value_counts()

not red    6
red        2
dtype: int64

<div class="alert alert-block alert-info"><b>Remember:</b> Unless I assign the Series returned from using the functions and methods above, my original Series data remains the same.</div>

In [170]:
# Confirm that my 'colors_series' still contains its original values.

colors_series

0       red
1    yellow
2     green
3      blue
4    orange
5       red
6    violet
7    indigo
dtype: object

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.isin()`

- The `.isin()` method returns a boolean Series with the same index as the original Series. 

    - `True` values indicate that the original Series value at a given index position is in the sequence.
    
    - `False` values indicate that the original value is not present in the sequence.

```python
series.isin(values)
```

In [114]:
# Create a list of colors.

my_colors = ['black', 'white', 'red']

In [172]:
# How can I check which values in `colors_series` are in the 'my_colors' list and create a new Series 'bools'?

bools = colors_series.isin(my_colors)
bools

0     True
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

**This is handy, but what if I want to access the actual observations or rows where the condition is True for being in the `my_colors` list, not just the bool values True or False?**

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

### The Indexing Operator `[]`

- This is where the pandas index shines; we can select subsets of our data using index labels, index position, or boolean sequences (list, array, Series).


- Earlier, I demonstrated that bracket notation, `df['series']` can be used to pull a Series from a pandas DataFrame when a column label is passed into the indexing operator `[]`. 


- I can also pass a sequence of boolean values to the indexing operator; that sequence could be a list or array, but it can also be another pandas Series **if the index of the boolean Series matches the original Series**.

>**Example:** Here I use the boolean Series `bools` that I created above as the selector in the indexing operator for `colors_series`. This returns only the rows in `colors_series` where the value is `True` in our boolean Series, `bools`. 
- Since I created my boolean Series from my original Series, they share the same index. That's what makes this operation possible.

In [173]:
# What type of pandas object is my 'bools' Series? 

type(bools)

pandas.core.series.Series

In [174]:
# Which rows meet my conditional above?

bools

0     True
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

**How can I return the actual values from `colors_series` where my condition is being met, the value is `red`, instead of just a True or False value?**

In [175]:
# Use the boolean Series as a selector for values in 'colors_series' that meet my condition.

colors_series[bools]

0    red
5    red
dtype: object

In [177]:
# I can skip the middle woman and pass a conditional directly into the indexing operator.

colors_series[colors_series == 'red']

0    red
5    red
dtype: object

In [180]:
colors_series[1:3]

1    yellow
2     green
dtype: object

>**Example of Indexing with a Labeled Index**

- Recall that our `diction_series` has a labeled index.


- Notice that the indexing is inclusive when using index labels.

In [181]:
diction_series

a    1.0
b    1.5
c    2.0
d    3.5
e    4.0
f    5.5
dtype: float64

In [182]:
# Can I return a subset of the first three rows of 'diction_series' using labels instead of integer positions?

diction_series['a':'c']

a    1.0
b    1.5
c    2.0
dtype: float64

In [183]:
# Can I return a subset of 'diction_series' containing only rows ['a', 'd', 'f']?

diction_series[['a', 'd', 'f']]

a    1.0
d    3.5
f    5.5
dtype: float64

# Exercises Part 2

https://ds.codeup.com/python/series/#exercises-part-ii

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

### Binning Data

- I can bin continuous data to convert it to categorical data.


- We will look at two different ways I can accomplish binning below.
    - `.value_counts()`
    - `pd.cut()`

#### `.cut()`

- The pandas `.cut()` function allows me to create bins of equal size to convert a continuous variable to a categorical variable if I like. 


- This function has parameters that make it versatile; I can define my own bin edges and labels.

```python
# Defaults for parameters I will use in this example.

pd.cut(x, bins, labels=None, include_lowest=False)
```

In [ ]:
ages.head()

In [ ]:
ages.describe()

In [ ]:
# use pd.cut to create 5 bins/categories

<div class="alert alert-block alert-info"><b>Note:</b> The lower bounds of the bins are open-ended while the upper bounds are closed-ended by default; it basically means any value on the side of the round bracket is not included in the interval and any value on the side of the square bracket is included. There are parameters if you want to adjust this behavior.</div>

In [ ]:
# How can I return a Series with my unique bin values as the index and the frequency of each bin as the value.

In [ ]:
# Another useful method

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>

#### `.plot()`

- **The `.plot()` method** allows us to quickly visualize the data in our Series.


- By default, Matplotlib will choose the best type of plot for us.


- We can also customize our plot if we like.

Check the docs [here](https://pandas.pydata.org/pandas-docs/version/0.24.2/reference/api/pandas.Series.plot.html) for more on the `.plot()` method.

In [ ]:
# How can I make a quick plot of the data in the 'tip' Series? (bar plot)

In [ ]:
# How can I make a quick plot of the data in the 'tip' Series? (horizontal bar plot using value_count(bins=5))

In [ ]:
# I can clean up my plot and add labels.


# reorder y-axis of horizontal bar chart
plt.gca().invert_yaxis()

# Exercise Set 3

<hr style="border-top: 10px groove skyblue; margin-top: 1px; margin-bottom: 1px"></hr>